<html>
  <head>
    <title>Google</title>
    <link rel="stylesheet" href="/static/assets/css/2002/home.css" />
    <link rel="shortcut icon" href="/static/assets/images/2000/favicon.ico" type="image/x-icon" />
  </head>
  <body bgcolor="#ffffff" text="#000000" link="#0000cc" vlink="#551a8b" alink="#ff0000">
    <center>
      <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td><img src="/static/assets/images/2002/logo.gif" width="276" height="110" alt="Google" /></td>
          </tr>
        </tbody>
      </table>
      <br />
      <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td width="15">&nbsp;</td>
            <td id="0" bgcolor="#3366cc" align="center" width="120" nowrap="nowrap">
              <font color="#ffffff" size="-1"><b>Web</b></font>
            </td>
            <td width="15">&nbsp;</td>
            <td id="1" bgcolor="#efefef" align="center" width="120" nowrap="nowrap">
              <a id="1a" class="q" href="/imghp"><font size="-1">Images</font></a>
            </td>
            <td width="15">&nbsp;</td>
            <td id="2" bgcolor="#efefef" align="center" width="120" nowrap="nowrap">
              <a id="2a" class="q" href="/nonexistent"><font size="-1">Groups</font></a>
            </td>
            <td width="15">&nbsp;</td>
            <td id="3" bgcolor="#efefef" align="center" width="120" nowrap="nowrap">
              <a id="3a" class="q" href="/nonexistent"><font size="-1">Directory</font></a>
            </td>
            <td width="15">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="10" bgcolor="#3366cc"><img width="1" height="1" alt="" /></td>
          </tr>
        </tbody>
      </table>
      <br />
      <form action="/search" <%= preferences.results_tab == "true" ? "target=_blank" : "" %>>
        <table cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td width="75">&nbsp;</td>
              <td align="center">
                <input maxlength="256" size="55" name="q" />
                <br />
                <input type="submit" value="Google Search" /><input type="submit" name="lucky" value="I'm Feeling Lucky" />
              </td>
              <td valign="top" nowrap="nowrap">
                <font size="-2"
                  >&nbsp;•&nbsp;<a href="/advanced_search">Advanced&nbsp;Search</a><br />&nbsp;•&nbsp;<a href="/preferences">Preferences</a><br />&nbsp;•&nbsp;<a href="/nonexistent"
                    >Language Tools</a
                  ></font
                >
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      <br />
      <br /><font size="-1"
        ><a href="https://ads.google.com/">Advertise&nbsp;with&nbsp;Us</a> - <a href="https://business.google.com/">Search&nbsp;Solutions</a> -
        <a href="https://news.google.com/">News and Resources</a> - <a href="http://jobs.google.com">Jobs,&nbsp;Press,&nbsp;Cool&nbsp;Stuff...</a></font
      >
      <p>
        <font size="-2">©<%= preferences.copyright %> Google</font
        ><font size="-2"> - Searching <%= parseInt(preferences.total).toLocaleString() %> web page<%= parseInt(preferences.total) !== 1 ? "s" : "" %></font>
      </p>
    </center>
  </body>
</html>
