<html>
  <head>
    <title>Google</title>
  </head>
  <body bgcolor="#FFFFFF" text="#000000" link="#0000ee" vlink="#ff0000" alink="#000099">
    <center>
      <img src="/static/assets/images/1999/google.jpg" alt="Google! (Beta version)" />
      <table border="0">
        <tbody>
          <tr>
            <td>
              <form name="f" method="GET" action="/search">
                <center>Search the web using Google<br /></center>
                <center>
                  <input type="text" name="q" size="40" framewidth="4" />
                  <br />
                </center>
                <center>
                  <input type="submit" value="Google Search" />
                  <input type="submit" name="lucky" value="I'm feeling lucky" />
                </center>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
      <a href="https://about.google/">More Google!</a><br />
      <p><font size="-1">Copyright ©<%= preferences.copyright %> Google Inc.</font></p>
    </center>
    <img src="/static/assets/images/1999/white.gif" width="1" height="1" alt="" /><img src="/static/assets/images/1999/red.gif" width="1" height="1" alt="" /><img
      src="/static/assets/images/1999/purple.gif"
      width="1"
      height="1"
      alt=""
    /><img src="/static/assets/images/1999/nav.gif" width="1" height="1" alt="" /><img src="/static/assets/images/1999/clear.gif" width="1" height="1" alt="" />
  </body>
</html>
