<html>
  <head>
    <title>Preferences</title>
    <link rel="stylesheet" href="/static/assets/css/2000/preferences.css" />
    <link rel="shortcut icon" href="/static/assets/images/2000/favicon.ico" type="image/x-icon" />
  </head>
  <body alink="#000099" bgcolor="#ffffff" link="#0000cc" text="#000000" vlink="#551a8b">
    <form method="POST" action="/preferences/set" name="langform">
      <table width="92%" border="0" cellpadding="0" cellspacing="2">
        <tbody>
          <tr valign="bottom">
            <td width="1%"><a href="/"><img alt="Google" border="0" height="78" src="/static/assets/images/2000/Title_Left.gif" width="200"></a></td>
            <td valign="middle">
              <table cellspacing="2" cellpadding="2" border="0" width="100%">
                <tbody>
                  <tr bgcolor="#3366cc">
                    <td valign="middle"><font face="arial,sans-serif" size="3" color="#FFFFFF"><b>&nbsp;Preferences</b></font></td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <table width="92%" border="0" cellspacing="0" cellpadding="2">
        <tbody>
          <tr bgcolor="#CBDCED">
            <td><font size="-1"> &nbsp;<font face="arial,sans-serif"> <b>Save</b> your preferences when finished and <b>return to search</b>.</font></font></td>
            <td>
              <div align="right"><input type="submit" value="Save Preferences"></div>
            </td>
          </tr>
        </tbody>
      </table>
      <p></p>
      <table width="92%" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td bgcolor="#3366cc"><img src="/static/assets/images/2000/cleardot.gif" height="1"></td>
          </tr>
        </tbody>
      </table>
      <% Object.values(groups).forEach(group => { %>
        <table border="0" cellspacing="5" cellpadding="5">
          <tbody>
            <tr valign="top">
              <td width="175" nowrap="nowrap">
                <font face="arial,sans-serif"><b><%= group.name %></b></font>
              </td>
              <td>
                <% group.options.forEach(id => { %>
                  <% const option = options[id] %>
                  <% const value = cookies[id] ?? option.default %>
                  <%- include("../../partials/2000/preferencesField", { id, option, value }) %>
                <% }) %>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="92%" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td bgcolor="#3366cc"><img src="/static/assets/images/2000/cleardot.gif" height="1"></td>
            </tr>
          </tbody>
        </table>
      <% }); %>
      <input type="hidden" name="q" value=""><br>
      <table width="92%" border="0" cellspacing="0" cellpadding="2">
        <tbody>
          <tr bgcolor="#CBDCED">
            <td><font size="-1"> &nbsp;<font face="arial,sans-serif"> <b>Save</b> your preferences when finished and <b>return to search</b>.</font></font></td>
            <td>
              <div align="right"><input type="submit" value="Save Preferences"></div>
            </td>
          </tr>
        </tbody>
      </table>
      <br></p>
      <div align="center">
        <font face="arial,sans-serif" size="-1" color="#6f6f6f">©<%= preferences.copyright %> Google</font>
      </div>
    </form>
  </body>
</html>
